<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <!-- <%= %> executa primeiro o que está ali antes de tudo -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <!-- Formulário de Login no Sistema -->
     <form action="/login" method="POST">
      <table border="1">
        <tr> <!-- Linha -->
          <td>E-mail</td>
          <td><input type="email" name="campoEmail"></td>
        </tr>
        <tr>
          <td>Senha</td>
          <td><input type="password" name="campoSenha"></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Entrar">
          </td>
        </tr>
       </table>
     </form>
  </body>
</html>
